<footer class="mt-auto py-8 bg-gray-800 text-gray-50">
    <div class="container">
        <div class="grid lg:grid-cols-3 mb-16 gap-8">
            <div>
                <h4 class="font-semibold mb-2">Menu</h4>
                {{ partial:nav.footer }}
            </div>
            <div>
                <h4 class="font-semibold mb-2">Our Socials</h4>
                {{ if organization_info:social_links }}
                    <ul>

                    </ul>
                    {{ organization_info:social_links }}
                        <li>
                            <a href="{{ link }}" class="underline">{{ social_platform:label }}</a>
                        </li>
                    {{ /organization_info:social_links }}
                {{ /if }}
            </div>
            <div class="">
                <h4 class="font-semibold mb-2">Our Location</h4>
                <div class="text-sm space-y-2">
                    <p>{{ organization_info:address }}</p>
                    <p>{{ organization_info:phone_number }}</p>
                    <p>{{ organization_info:email }}</p>
                </div>
            </div>
        </div>
        <p class="text-xs">&copy; 2024 - {{ date iso_format="YYYY" }} Michael LaRoy - {{ site:name }}. All Rights Reserved.</p>
    </div>
</footer>
