{{ if site_config:show_secondary_nav && site_config:secondary_nav_location == 'top' }}
    <div class="py-2 bg-slate-200">
        <div class="container">
            <ul class="flex justify-end gap-2 text-xs items-center">
                {{ partial:nav.secondary}}
            </ul>
        </div>
    </div>
{{ /if }}
{{ if site_config:show_secondary_nav && site_config:secondary_nav_location == 'off_canvas' }}
    {{ partial:nav.off_canvas }}
{{ /if }}

{{ $styles = main_header_style == 'transparent' ? 'py-8 lg:pt-8 lg:pb-16 absolute top-0 left-0 w-full z-10 text-white bg-gradient-to-b from-black/60 to-transparent' : 'py-4 lg:py-8' }}
<header class="{{ $styles }}">
    <div class="container">
        <div class="flex justify-between">
            <div>
                <h1>
                    <a href="/" class="font-semibold text-lg">
                        {{ site:name }}
                    </a>
                </h1>
            </div>
            <div>
                {{ partial:nav.main }}
            </div>
        </div>
    </div>
</header>
