{{#
    @name Accordion
    @desc The Accordion page builder block.
    @set page.page_builder.accordion
#}}

<!-- /page_builder/_accordion.antlers.html -->
{{ partial:page_builder/block }}
    <div class="accordion-container py-12 lg:py-16 bg-slate-300">
        <div class="container">
            <h2 class="text-2xl lg:text-3xl mb-8 font-semibold">{{ heading }}</h2>

            <div class="flex flex-col divide-y divide-black border-b border-black">
                {{ if accordion_group }}
                    {{ accordion_group }}
                        <div x-data="{ isOpen: false }" x-id="['collapse']" class="py-8">
                            <button
                                type="button"
                                @click="isOpen = !isOpen"
                                :aria-controls="$id('collapse')"
                                @keydown.escape.prevent.stop="isOpen = false"
                                class="relative flex w-full text-lg lg:text-xl font-semibold">
                                {{ heading }}

                                <span class="inline-block ml-auto cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 transform" :class="{ 'rotate-180' : isOpen }">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </span>
                            </button>

                            <div
                                class="accordion-content"
                                :id="$id('collapse')"
                                x-show="isOpen"
                                x-collapse
                                :aria-expanded="isOpen">
                                <div class="pt-4 prose lg:prose-xl">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    {{ /accordion_group }}
                {{ /if }}
            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_accordion.antlers.html -->
