{{#
    @name Blog Teaser
    @desc The Blog Teaser page builder block.
    @set page.page_builder.blog_teaser
#}}

<!-- /page_builder/_blog_teaser.antlers.html -->
{{ partial:page_builder/block }}
    <div class="blog-teaser-container py-12 lg:py-16 bg-slate-50">
        <div class="container">
            <h2 class="text-2xl lg:text-3xl mb-8 font-semibold">{{ heading }}</h2>

            <div class="grid lg:grid-cols-3 gap-8">
                {{ if blog_posts }}
                    {{ blog_posts }}
                        {{ partial:blog.teaser }}
                    {{ /blog_posts }}
                {{ else }}
                    {{ collection:blog limit="3" }}
                        {{ partial:blog.teaser }}
                    {{ /collection:blog }}
                {{ /if }}
            </div>

            <div class="blog-teaser-cta text-center mt-20">
                <a href="/blog" class="px-4 py-2 rounded bg-slate-600 text-white text-center inline-block">More Posts &rarr;</a>
            </div>
        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_cards.antlers.html -->
