{{#
    @name Accordion
    @desc The Accordion page builder block.
    @set page.page_builder.accordion
#}}

<!-- /page_builder/_accordior.antlers.html -->
{{ partial:page_builder/block }}
    <div class="hero-container py-12 lg:py-16 bg-black/60 flex justify-center items-center relative h-dvh max-h-[800px]">
        {{ glide :src="background_image" width="1800" height="1200" }}
            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full mix-blend-multiply">
        {{ /glide }}

        <div class="container relative text-white">
            <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl mb-4 font-semibold text-white text-balance">{{ main_heading }}</h1>
            <p class="text-xl lg:text-4xl text-balance">{{ sub_heading }}</p>
            {{ if cta_link && cta_text !== '' }}
                <a href="{{ cta_link:url }}" class="px-4 py-2 rounded text-slate-900 bg-white text-center inline-block mt-8">
                    {{ cta_text }}
                </a>
            {{ /if }}

            {{ if show_modal == true }}
                <button @click="toggleModal('hero')" type="button" class="text-slate-900 bg-white px-4 py-2 rounded shadow">
                    {{ modal_button_text }}
                </button>
            {{ /if }}
        </div>
            {{ if show_modal == true }}
            {{ video }}
                {{ partial:components.modal_slot id="hero"}}
                    {{ if modal_type == 'video' }}
                        <div class="aspect-video overflow-hidden relative">
                            <iframe class="w-full h-full absolute inset-0" src="{{ modal_video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    {{ else }}
                        <div class="aspect-video overflow-hidden relative bg-white p-6 rounded">
                            <div class="prose">
                                {{ rich_text }}
                            </div>
                        </div>
                    {{ /if }}
                {{ /partial:components.modal_slot }}
            {{ /if }}
        </div>

    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_accordion.antlers.html -->
