{{#
    @name Intro
    @desc The Intro page builder block.
    @set page.page_builder.intro
#}}

<!-- /page_builder/_intro.antlers.html -->
{{ partial:page_builder/block }}
    <div class="intro-container py-12 lg:py-16 bg-slate-300">
        <div class="container">
            <div class="flex gap-8 {{ intro_layout == 'vertical' ? ' flex-col text-center ' : 'flex-row' }}">
                <div>
                    <h2 class="text-xl lg:text-4xl font-semibold">{{ heading }}</h2>
                </div>
                <div class="prose lg:prose-xl mx-auto">
                    {{ intro_text }}
                </div>
            </div>

        </div>
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_intro.antlers.html -->
