<div class="container mt-8 pb-16" id="article-content">
    <div class="mx-auto text-center py-24">
        <h1 class="text-xl md:text-3xl lg:text-5xl font-bold mb-2">{{ title }}</h1>
        <time class="text-sm lg:text-base mt-4 text-gray-600 mb-2">{{ date }}</time>
        <p class="text-gray-600 text-sm">By: {{ author:name }}</p>

        <ul class="inline-flex gap-2 mx-auto mt-4">
            {{ categories }}
                <li><a href="/categories/{{ slug }}" class="rounded bg-blue-200 px-2 py-1 text-xs hover:bg-blue-300 transition">{{ title }}</a></li>
             {{ /categories }}
        </ul>
    </div>

    <figure class="relative overflow-hidden aspect-video mt-8">
        {{ glide :src="image" width="1200" height="800" }}
            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full">
        {{ /glide }}
    </figure>
    <article class="mx-4 lg:mx-auto max-w-4xl lg:max-w-7xl -mt-20 z-10 relative ">
        <div class="prose lg:prose-xl w-full bg-white p-8 lg:p-16 mx-auto relative shadow-md rounded">
            {{ bard_content }}
            {{ partial src="sets/{type}" }}
            {{ /bard_content }}
        </div>
    </article>
</div>
