<div class="container mt-8 pb-16" id="article-content">
    <div class="mx-auto text-center">
        <h1 class="text-xl md:text-3xl lg:text-5xl font-bold mb-2">{{ title }}</h1>
        <time class="text-sm lg:text-base mt-4 text-gray-600 mb-2">{{ date }}</time>
        <p class="text-gray-600 text-sm">By: {{ author:name }}</p>
    </div>

    <figure class="relative overflow-hidden aspect-video mt-8">
        {{ glide :src="image" width="1200" height="800" }}
            <img src="{{ url }}" alt="{{ alt }}" class="object-cover object-center absolute inset-0 w-full h-full">
        {{ /glide }}
    </figure>
    <article class="mt-8 mx-auto max-w-4xl ">
        <div class="prose lg:prose-xl">
            {{ content | widont }}
        </div>
    </article>
</div>
